In [2]:
# creating a variable
# there is no special command for it.
# the variable will be created when you assign a value to it.

age = 19
name = "joe"
print(age)
print(name)

19
joe

In [3]:
# Variables do not need to be declared with any particular type, 
# and can even change type after they have been set.

x = 19
x = "hello world"
print(x)

hello world

In [5]:
# if you want you can also specify the data type.
x = int(3.0)
y = float(9)
z = str(21)
print(x)
print(y)
print(z)

3
9.0
21

In [6]:
# you can use the type command to check the data type of the stored value in the variables.
x = int(3.0)
y = float(9)
z = str(21)
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [7]:
# you can use double quotes and single quotes it is the same thing.
print("hello world")
print('hello world')

hello world
hello world

In [9]:
# varible are case sensitive
x = 19
X = 19
# these two are not the same thing.
print(x)
print(X)

19
19

In [13]:
# there are some rules for the variable names.
# A variable name must start with a letter or the underscore character.
# A variable name cannot start with a number.
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
# Variable names are case-sensitive (age, Age and AGE are three different variables).
# A variable name cannot be any of the Python keywords.

In [14]:
# these are some valid names.
myvar = "ali"
my_var = "John"
_my_var = "ahmed"
myVar = "joe"
MYVAR = "Jelly"
myvar2 = "trevor"

In [15]:
# these are some illegal names.
2myvar = "walter white"
my-var = "hank"
my var = "henry"

SyntaxError: invalid decimal literal (1601667139.py, line 2)

In [16]:
# you can also assign multiple value to multiple variables in one line.
x, y, z = "strawberry", "Banana", "blueberry"
print(x)
print(y)
print(z)

strawberry
Banana
blueberry

In [17]:
# you can also assign same value to the multiple variables.
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [18]:
# you can also print the value stored in the variable.
name = "john"
print(name)

john

In [20]:
# you can use "+" you output multiple varibles.
# but they should be same data type.
name1 = "ahmed "
name2 = "ali "
name3 = "raj"
print(name1 + name2 + name3)

ahmed ali raj

In [21]:
# "+" this will not work for the different data type for example.
name = "hamza"
age = 19
height = 180.5
print(name + age + height)

TypeError: can only concatenate str (not "int") to str

In [22]:
# for different data types we can use ",".
name = "hamza"
age = 19
height = 180.5
print(name , age , height)

hamza 19 180.5

In [23]:
# there are many data types in python.
# for example
# for text we use: str
# for numeric values we use: int , float and complex
# for sequence we use: list , tuple and range 
# for mapping we use: dict
# for set we use: set and frozenset
# for boolean we use: bool
# for binary we use: bytes , bytearray and memoryview
# for none we use: nonetype

In [ ]:
# some examples
x = str("Hello World")	                      #str	
x = int(20)	                                  #int	
x = float(20.5)                               #float
x = list(("apple", "banana", "cherry"))	      #list	
x = tuple(("apple", "banana", "cherry"))	  #tuple	
x = range(6)	                              #range	
x = dict(name="John", age=36)	              #dict	
x = set(("apple", "banana", "cherry"))	      #set
x = bool(5)	                                  #bool